<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dada's Flea Market{% endblock %}</title>
        {% image '@DadaCoreBundle/Resources/public/images/dadafleamarket.ico' %}
        <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
        {% endimage %}

        {# CSS block#}
        {% stylesheets 'bundles/dadauser/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets 'bundles/dadaadvertisement/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {# Bootstrap #}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="container">
            <nav class="navbar navbar-default navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url('dada_core_homepage') }}">
                            <img alt="Brand" src="{{ asset('bundles/dadacore/images/dadafleamarket.png') }}" width="30">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mes annonces<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('dada_advertisement_homepage') }}">Mes annonces</a></li>
                                    <li><a href="{{ path('dada_advertisement_add') }}">Créer une nouvelle annonce</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        {% if app.user %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                </ul>
                            </li>
                        </ul>
                            <p class="navbar-text navbar-right">Bonjour {{ app.user.username }}</p>{# Needs to be AFTER <ul> to be shown BEFORE (sooo logical) #}
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                            </ul>
                            {% endif %}
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        <footer class="footer container">
            <p>&copy; {{ "now"|date('Y') }} David Lumaye <i>aka</i> Chindit</p>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
