{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>Ajouter une nouvelle annonce</h1>
            {{ form_start(form, {'attr': {'class': 'fos_user_form'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <p class="hidden" id="googlemaps-url">{{ ajaxUrl }}</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@DadaAdvertisementBundle/Resources/public/js/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}