{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h1>Ajouter une nouvelle catégorie</h1>
            {{ form_start(form, {'attr': {'class': 'fos_user_form'}}) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}